apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: student-app
      version: blue    # This targets the blue version
  template:
    metadata:
      labels:
        app: student-app
        version: blue    # This pod is part of the blue version
    spec:
      containers:
      - name: student-app
        image: rajuprudhvi/student-web-app:latest
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: student-service
spec:
  type: NodePort
  selector:
    app: student-app # Selects the app
    version: blue    # Initially points to the LIVE blue version
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30001
