apiVersion: v1
kind: Service
metadata:
  name: school-app-service
  namespace: default
spec:
  selector:
    app: school-app
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  type: NodePort
